@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Playfair', sans-serif;
} 
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color:aliceblue;
}
.wrapper{
    display: flex;
}
.wrapper .stxt{
    color: white;
    font-size: 60px;
    font-weight: 400;
}

.wrapper .dtxt{
    margin-left: 15px;
    line-height: 90px;
    height: 90px;
    overflow: hidden;
}

.dtxt li{
    list-style: none;
    color: rgb(204, 63, 91); 
    font-size: 60px;
    font-weight: 500;
    top: 0;
    position: relative;
    animation: slide 9s steps(3) infinite;
}
@keyframes slide{
    100%{
        top: -280px;
    }
}

.dtxt li{
    position: relative;
}
.dtxt li::after{
    content:'';
    position:absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    border-left: 2px solid rgb(204, 63, 91);
    animation: typing 3s steps(9) infinite;
    
}
@keyframes typing {
    40%,
    60% {
    left: calc(100% + 30px);
}
    100% {
        left: 0;
    }
}


